asgiref==3.8.1
cachetools==6.2.2
certifi==2025.4.26
channels==4.2.2
charset-normalizer==3.4.2
Django==5.2
django-cors-headers==4.7.0
django-rest-knox==5.0.2
django-rest-passwordreset==1.5.0
djangorestframework==3.16.0
dotenv==0.9.9
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
httplib2==0.31.0
idna==3.10
oauthlib==3.3.1
pillow==11.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyotp==2.9.0
pyparsing==3.2.5
python-dotenv==1.1.0
reportlab==4.4.5
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
